<?php

$flash = $this->flashMessenger();

$flash->setMessageOpenFormat(
    '<div%s>
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
            &times;
        </button>
        
        <ul class="list-unstyled">
        <li>'
)->setMessageSeparatorString('</li><li>')->setMessageCloseString('</li></ul></div>');

echo $flash->render('info', ['alert tracker', 'alert-dismissable', 'alert-info']);
echo $flash->render('error', ['alert tracker', 'alert-dismissable', 'alert-danger']);
echo $flash->render('default', ['alert tracker', 'alert-dismissable', 'alert-warning']);
echo $flash->render('success', ['alert tracker', 'alert-dismissable', 'alert-success']);