<?php if($this->pageCount): ?>
    <div>
        <ul class="pagination justify-content-center">
            <?php if(isset($this->previous)): ?>
            <li class="page-item">
                <a href="<?= $this->url($this->route, [], ['query' => ['page' => $this->previous]]);?>"
                   tabindex="-1" aria-disabled="true" class="page-link">
                    Previous
                </a>
            </li>
            <?php else: ?>
                <li class="page-item disabled">
                    <a href="#" class="page-link">
                        &gt;&gt;
                    </a>
                </li>
            <?php endif; ?>

            <?php foreach ($this->pagesInRange as $page): ?>
                <?php if($page !== $this->current): ?>
                    <li class="page-item">
                        <a href="<?= $this->url($this->route, [], ['query' => ['page' => $page]]); ?>" class="page-link">
                            <?= $page; ?>
                        </a>
                    </li>
                <?php else: ?>
                    <li class="active page-item">
                        <a href="#" class="page-link">
                           <?= $page; ?>
                        </a>
                    </li>
                <?php endif; ?>
            <?php endforeach; ?>
            <?php if(isset($this->next)): ?>
                <li class="page-item">
                    <a href="<?= $this->url($this->route, [], ['query' => ['page' => $this->next]]); ?>" class="page-link">
                        Next
                    </a>
                </li>
            <?php else: ?>
            <li class="disabled page-item">
                <a href="#" class="page-link">
                    &gt;&gt;
                </a>
            </li>
            <?php endif; ?>
        </ul>
    </div>

<?php endif; ?>