<?php

$title = $this->translate('Forgot');
// meta data
$this->headMeta()->appendName('keywords', 'Forgot');
// meta description
$this->headMeta()->appendName('description', 'Forgot Account');
// page title
$this->headTitle($this->escapeHtml($title));

$form = $this->form;
$form->setAttribute('action', $this->url('forgot'));
$form->prepare();

?>

<div class="container">
    <div class="row">
        <div class="col-md-4 shadow-sm">
            <h3 class="mb-3 pt-2 text-md-center">
                <?= $this->escapeHtml($this->translate('Forgot Account')); ?>
            </h3>

            <?= $this->form()->openTag($form); ?>

            <div class="mb-3">
                <?= $this->formLabel($form->get('email')); ?>
                <div class="form-group">
                    <?= $this->formText($form->get('email')); ?>
                </div>

                <div class="text-danger">
                    <?= $this->formElementErrors($form->get('email')); ?>
                </div>
            </div>

            <div class="mb-3 float-right">
                <?= $this->formHidden($form->get('csrf')); ?>
                <div class="text-danger">
                    <?= $this->formElementErrors($form->get('csrf')); ?>
                </div>
                <?= $this->formSubmit($form->get('forgot')); ?>
            </div>

            <!-- close the form -->
            <?= $this->form()->closeTag(); ?>
        </div>
    </div>
</div>
