<?php

$title = $this->translate('Sign In');
// meta data
$this->headMeta()->appendName('keywords', 'Login. Sign In, Authenticate');
// meta description
$this->headMeta()->appendName('description', 'Login Account');
// page title
$this->headTitle($this->escapeHtml($title));

$form = $this->form;
$form->setAttribute('action', $this->url('login'));
$form->prepare();

?>

<div class="container">
    <div class="row">
        <div class="col-md-4 shadow-sm">
            <h3 class="mb-3 pt-2 text-md-center">
                <?= $this->escapeHtml($this->translate('Member Login')); ?>
            </h3>

            <?= $this->form()->openTag($form); ?>

            <span class="form-text text-muted pb-2">
                <?= sprintf($this->translate("Don't have an account? %sjoin here%s."),
                    '<a href="' . $this->url('signup') . '">', '</a>'
                ); ?>
            </span>

            <div class="mb-3">
                <?= $this->formLabel($form->get('email')); ?>
                <div class="form-group">
                    <?= $this->formText($form->get('email')); ?>
                </div>

                <div class="text-danger">
                    <?= $this->formElementErrors($form->get('email')); ?>
                </div>
            </div>

            <div class="mb-3">
                <?= $this->formLabel($form->get('password')); ?>
                <span class="float-right">
                    <?= sprintf(
                         $this->translate('%sForgot Password?%s'),
                         '<a href="' . $this->url('forgot'). '">',
                         '</a>'
                    ); ?>
                </span>
                <div class="form-group">
                    <?= $this->formPassword($form->get('password')); ?>
                </div>

                <div class="text-danger">
                    <?= $this->formElementErrors($form->get('password')); ?>
                </div>
            </div>

            <!-- checkbox -->
            <div class="mb-3">
                <div class="custom-control custom-checkbox">
                    <?= $this->formCheckbox($form->get('recall')); ?>
                    <?= $this->formLabel($form->get('recall')); ?>
                </div>
            </div>

            <div class="mb-3 float-right">
                <?= $this->formHidden($form->get('csrf')); ?>
                <div class="text-danger">
                    <?= $this->formElementErrors($form->get('csrf')); ?>
                </div>
                <?= $this->formSubmit($form->get('account_login')); ?>
            </div>

            <!-- close the form -->
            <?= $this->form()->closeTag(); ?>
        </div>
    </div>
</div>
