<div class="table-responsive">
    <h1>Active User Account</h1>

    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Email</th>
                <th>Gender</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <?php foreach ($this->account as $account) { ?>
                <tr>
                    <td><?= $account->getUserId(); ?></td>
                    <td>
                        <a href="<?= $this->url('profile', ['id' => $account->getUserId(), 'username' => strtolower($account->getUsername())]) ?>"><?= $account->getUsername(); ?></a>
                    </td>
                    <td><?= $account->getEmail(); ?></td>
                    <td><?= $account->getGender(); ?></td>
                    <td><?= $account->getRoleId(); ?></td>
                    <td>
                        <a href="<?= $this->url('profile', ['id' => $account->getUserId(), 'username' => strtolower($account->getUsername())]) ?>">Delete</a>
                    </td>
                </tr>
            <?php } ?>
        </tbody>
    </table>
</div>

<?= $this->paginationControl(
        $this->account,
        'sliding',
        'partial/paginator',
        ['route' => 'admin_user']
); ?>