<?php
/**
 * @var Laminas\View\Renderer\PhpRenderer $this
 */
?>
<div class="jumbotron">
    <h1 class="display-4">Welcome to<br>My App</h1>

    <p>
        Congratulations! You have successfully access my App
        This is base tempate
        building your application on Laminas MVC.
    </p>

    <hr class="my-4">

    <a class="btn btn-primary btn-lg" href="<?= $this->url('login') ?>" target="_blank">Login &raquo;</a>
</div>
